<Section>
    <form method="post" action="">
        <div>
            <lable for="title">Title</lable>
            <input type="text" id="title" name="Title">
        </div>
         <div>
            <lable for="location">Location</lable>
            <input type="text" id="location" name="Location">
        </div>
         <div>
            <lable for="star_rating">Star rating</lable>
            <input type="text" id="star_rating" name="Star rating">
        </div>
         <div>
            <lable for="type">Type</lable>
            <input type="text" id="type" name="Type">
        </div>
         <div>
            <lable for="price">Price</lable>
            <input type="text" id="price" name="Price">
        </div>
         <div>
            <lable for="details">Details</lable>
            <input type="text" id="details" name="Details">
        </div>
         <div>
            <lable for="image">Image URL</lable>
            <input type="text" id="image" name="Image URL">
        </div>
        <button type="submit">Create</button>
        
    </form>
</Section>